<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="internal.log"
      internalLogLevel="Info" >

 
  
  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file -->    
    <target xsi:type="Console" name="console"
            layout="${date}|${level:uppercase=true}|${message} ${exception}|${logger}|${all-event-properties}" />
    <target xsi:type="Debugger" name="debugger"
            layout="${date}|${level:uppercase=true}|${message} ${exception}|${logger}|${all-event-properties}" />
    
    <!-- write logs to Microsoft Teams -->
    <target xsi:type="MicrosoftTeams, NLog.Targets.MicrosoftTeams"
            name="msTeams"
            WebhookUrl="${appsetting:name=Logging.TeamsUrl}"
            ApplicationName="Your Application Name"
            CardTitle="Title - ${level:uppercase=true}: ${date} - [${logger}]"
            layout="[${level:uppercase=true}] ${logger} - ${message} ${all-event-properties}"
    />
    

    <!-- write logs to Microsoft Teams -->
    <!-- Example for appsetting.json
    <target xsi:type="MicrosoftTeams"
            name="msTeams"
            WebhookUrl="${appsetting:name=Logging.TeamsUrl}"
            ApplicationName="Your Application Name"
            CardTitle="Title - ${level:uppercase=true}: ${date} - [${logger}]"
            layout="[${level:uppercase=true}] ${logger} - ${message} ${all-event-properties}"
    />
    -->
    
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" minlevel="Trace" writeTo="console,debugger,msTeams" />
  </rules>
</nlog>